*{
  margin: 0%;
  background-color: darkgrey;
}
.n-flag{
  margin: 1vw;
padding: auto;
  font-size: 5vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: 0.2vw underline #06038D;
  font-style:var(135deg);
}
.n-flag a{
  color: #FF671F;
}
.n-flag p{
  color:#FFFFFF;
}
.n-flag div{
  color: #046A38;
}
.flag{
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.green{
  background-color: #046A38;
height:15vw;
width: 80vw;
}

.white{
  height:15vw;
background-color:#FFFFFF;
width: 80vw;
align-items: center;
justify-content: center;
display: flex;
}
.orange{
  height:15vw;
  width: 80vw;
background-color:#FF671F;
}
.ashokachakra{
  
  height: 14vw;
  width: 14vw;
  border-radius: 50%;
  border: 0.3vw solid #06038D;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
  animation-name: wheel;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;

}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.line{
  height: 100%;
  width: 0.4vw;
  background-color: #06038D;
  rotate: 0deg;
}
span{
  height: 100%;
  width: 0.4vw;
  display: inline-block;
  position: absolute;
  background-color: #06038D;
}
.line:nth-child(1){
  transform: rotate(15deg);
}
.line:nth-child(2){
  transform: rotate(30deg);
}
.line:nth-child(3){
  transform: rotate(45deg);
}
.line:nth-child(4){
  transform: rotate(60deg);
}
.line:nth-child(5){
  transform: rotate(75deg);
}
.line:nth-child(6){
  transform: rotate(90deg);
}
.line:nth-child(7){
  transform: rotate(105deg);
}
.line:nth-child(8){
  transform: rotate(120deg);
}
.line:nth-child(9){
  transform: rotate(135deg);
}
.line:nth-child(10){
  transform: rotate(150deg);
}
.line:nth-child(11){
  transform: rotate(165deg);
}
.line:nth-child(12){
  transform: rotate(180deg);
}
